{% extends "learning_logs/_layouts/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h1>Acompanhe seu aprendizado.</h1>
    <p>feito por Lucas Montalvani</p>
  </div>
{% endblock header %}

{% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Registre uma conta</a>
    para fazer seu próprio registro de aprendizado, e liste os tópicos sobre
    os quais você está aprendendo.
  </h2>
  <h2>
    Sempre que você aprender algo novo, faça uma entrada
    resumindo o que você aprendeu.
  </h2>
{% endblock content %}